* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}

#header{
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(193,184,175,0.3);
    /* border: solid 2px black; */
    transition: top 0.3s; /*Menu hiding animation (duration)*/
    box-shadow: 0 5px 20px black;
}

#logo{
    height: 100px;
}

#menu{
    width: 750px;
    display: flex;
    flex: initial;
    justify-content: space-evenly;
}

#menu a{
    text-decoration: none;
    color: #22a1c4;
    transition: color 1s;
}

#menu a:hover{
    color: #aed3dd;
}

.content {
    position: relative;
    top: 105px;
    margin: 0 10px 0 10px;
    display: block;
    background-color: rgb(193,184,175,0.5);
    height: 500px;
}

h1{
    padding-top: 25px;
    color: #1a7791;
    text-align: center;
}

.carousel-item{
    
}

#carouselExampleIndicators{
    width: 1000px;
}